*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bg-2.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
#login-form
{
    display: none;
}
#home-page
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}
.temp{
	z-index: 10000;
	font-size: 100px;
}




.container{



	height:100%;
   position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
  }
  .btn {
	  margin-top: calc(50% + 25px);
	  position: relative;
	  display: inline-block;
	  width: 277px;
	  height: 50px;
	  font-size: 1em;
	  font-weight: bold;
	  line-height: 60px;
	  text-align: center;
	  text-transform: uppercase;
	  background-color: transparent;
	  cursor: pointer;
	  text-decoration:none;
	  font-family: 'Roboto', sans-serif;
	  font-weight:900;
	  font-size:17px;
	  letter-spacing: 0.045em;
  }
  
  .btn svg {
	  position: absolute;
	  top: 0;
	  left: 0;
  }
  
  .btn svg rect {
	  
	  stroke-width: 4;
	  stroke-dasharray: 353, 0;
	  stroke-dashoffset: 0;
	  -webkit-transition: all 600ms ease;
	  transition: all 600ms ease;
  }
  
  .btn span{
	background: rgb(255,130,130);
	background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
	background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .btn:hover svg rect {
	  stroke-width: 4;
	  stroke-dasharray: 196, 543;
	  stroke-dashoffset: 437;
  }
  .gifbox{
	display: block;
	position: absolute;
	left:17%;
	bottom: 40%;
	height: 300px;
	width: 300px;
  }
  .gifbox2{
	display: block;
	position: absolute;
	right:10%;
	bottom: 40%;
	height: 300px;
	width: 400px;
  }